*{
    box-sizing: border-box;
    /* margin: 0; */
   }

.logo{
/*position: absolute;
top: 0% */

   /* width: 20%; /* scale the logo */
    /*min-width: 200px; 
    max-width: 200px;/* but make sure it's at least 200px */
  
}
img {
    max-width: 100%;
}
.header{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    max-height: 200px;
    max-width: 600px;
    justify-content: space-between;
    margin-left: 2px;

}
.logo{
    display: flex;
    max-width: 200px;

}

.logo {
    order: -2;
    width: 50%

}

hr {
    color: rgb(5, 5, 5);
    size: 5px;
}

.site-nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0 0 0 0;
}

.site-nav li {
    /* display: flex;
    flex-direction: row;
    flex-grow: 1; */
    /* width: 100%; */
    /*object-position: 1rem;
    padding: 0 .5% 0 .5%;*/
    
}
 
.primary-nav {
    order: 0;
    width: 100%;

}

.primary-nav a {
    color: red;
    text-decoration: none;
   display: inline-block;
    padding: 1.625 1 1 1rem;
}
.cart {
    /*text-align: right;*/
    max-width: 100px;
  
  }
  .cart {
    max-width: 100px;
    order:-1;
    width: 50%;
    display: flex;
 
  }

/* Banner Section */

.banner{
   
    text-align: center;
    height: 400px;
    max-width: 1240px;
    position: relative;
     }
.banner {
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/banner-girl.png), url(images/flower-bkgd.jpg);
        background-position: center, center 60px, center;
        background-repeat: no-repeat,no-repeat, repeat;
        background-size: contain, contain, cover;
      }
     .banner_text{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         color: white;

     }
h4 {
    text-transform: uppercase;
}

body{
        font-family: "Raleway", Arial, sans-serif;
}

h1, h2, h3, h4 {

    font-family: "Playfair Display";


}
p {
    font-family: "Raleway";
}
.handcrafted p{
font-weight: lighter;
line-height: 2rem;
text-align: center;
margin: 0 7rem;
}
.handcrafted h2{

    text-align: center;
}

.handcrafted h2 span{
    font-weight: lighter;
    font-style: italic;
}
.handcrafted{
    margin-top: 5em;
    margin-bottom: 5em;
}
.container{
    max-width: 600px;
    margin: 0px auto;
    text-align: center;

}
/* CLOTHING CATEGORY BOXES SECTION*/

.clothing-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.clothing-categories a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* the selector > will only get the first level of chld elements and not go further
example if you had more divs nested it would only affect the children */
/* .clothing-categories > div {
    border: 2px solid white;
} */
.clothing-categories > div {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mens {
    background: url(images/mens-category.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    width: 100vw;
    height: 50vw;
    flex-grow: 2;
    /* margin-bottom: 1rem; */
  }
  .trends {
    background: url(images/trends-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
    width: 50vw;
    height: 50vw;
    flex-grow: 1;
    /* margin-bottom: 1rem; */
  }

.glasses {
  background: url(images/glasses-category.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  text-align: center;
  width: 50vw;
  height: 50vw;
    flex-grow: 1;
    /* margin-bottom: 1rem; */
}
.sale {
    background: url(images/sale-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
    width: 50vw;
    height: 50vw;
    flex-grow: 1;
   
  }
  .bags {
    background: url(images/bags-category.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center;
    width: 50vw;
    height: 50vw;
    flex-grow: 1;
    
  }
  .womens {
    background: url(images/womens-category.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    width: 100vw;
    height: 50vw;
    position: relative;
    flex-grow: 2;
    /* margin-top: 1rem */
  }


/* SIGNUP SECTION*/

.signup{
    background: url(images/wave-bkgd.jpg);
    background-position: bottom;
    /*background-size: cover;
    /*background-repeat: repeat;*/
    background-repeat: no-repeat;
    height: 60vw;
    

}
.signup{
    text-align: center;
    max-width: 600px;
    position: relative;
}
.signup_text{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.signup p{
    color: white;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 1em;

    
}
.signup h2{
    color: white;
    outline-color: gray;
    font-size: 2.5em;
    padding-top: 1.5em;

}
.signup h2 span{
    font-weight: lighter;
    font-style: italic;
}

/* Footer Section */

.aloha-footer{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;



}
footer{
    background-color: darkgray;
}
.contact_text {
    color: white;
}
.social, .contact {
    width: 100%;
    text-align: center;
}
.social{
    max-width: 400px;
    margin: 0 auto;
}
.social span {
    display: none;
}
.social li{
    list-style: none;

}
/*
.social li i{
    padding-right: 0.25em;
}*/
 
.contact{
    max-width: 400px;
    margin: 0 auto;  
}

/*
.contact {
    display: block;
    background-color: black;
    font-display: white;

}
.social li {
    display: block;
    background-color: black;
    font-display: white;

}*/
/* .products{
    display: inline;
}
 */
 @media screen and (min-width:600px){
    .social span {
        display: inline-block;
    }

    .social, .contact {
        width: 50%;
        text-align: left;
    }
 }